body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background: rgb(171, 175, 209);
}

.fundo {
    background: #e4ebf0;
    padding: 20px 0;
    
}

.titulo-principal {
    padding-left: 15px; 
    font-size: 30px;

}

.sub-título {
    padding-left: 15px;
    font-size: 15px;
}

#foto_01 { 
    border-radius: 50px;
    position: absolute;
    width: 200px;
    margin: 0 auto;
    top: 50px; /*coloca no topo*/
    right: 50px; /*redireciona para direita*/
}


nav li {
    display: inline; /* coloca os intens um ao lado do outro*/
    margin: 0 0 0 25px; /*para dar espaços entre os itens*/
}

nav a {
    text-transform:  uppercase; /*Muda pata letra maiuscula*/
    color: #000000;
    font-weight: bold; /*deixa em negrito*/
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

.h3 {
    font-size: 25px;
    padding: 15px;
    text-align: center;
    clear: right;
    
}

.h4 {
    font-size: 16px;
}

.sobre {
    font-size: 20px;
    font-style: arial;
}

#skills {
    width: 1060px;
    height: 230px;
    margin: 0 auto;
    padding: 15px 0;
}

.imagens{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;   
}

.imagens li{
    display: inline-block; /*um ao lado do outro*/
    text-align: center;
    width: 33%;
    vertical-align: top;
}


#html {
    width: 55px;
}

#html:hover {
    width: 70px;
}

#css {
    width: 55px;
}

#css:hover {
    width: 70px;
}

#js {
    width: 135px;
}

#js:hover {
    width: 180px;
}
 
/* #java {
    width: 55px;
} */


#hobbies {
    width: 940px;
    margin: 0 auto;
    padding: 15px 0; 
}

.hobbies li {
    display: inline-block; /*um ao lado do outro*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.hobbies li:hover {
    border-color: rgb(120, 71, 255);
}

/* .hobbies li:hover h4 {
    font-size: 20px;
} */

.controle {
    width: 114px;
}


.tv {
    width: 100px;
}

.viagem {
    width: 108px;
}

#formacao-academica {
    width: 940px;
    margin: 40px auto;
    padding: 20px 0; 
}

.formacao li {
    display: inline-block; /*um ao lado do outro*/
    text-align: center;
    width: 47%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.formacao li:hover {
    border-color: rgb(120, 71, 255);
}

/* .formacao li:hover {
    font-size: 20px;
} */

.estacio {
    width: 400px;
    height: 200px;
    background-color: #e4ebf0;
}

.alura {
    width: 400px;
    height: 200px;
    background-color: #e4ebf0;
}

#experiencia-profissional {
    width: 700px;
    margin: 40px auto;
    padding: 20px 0; 
}

.experiencia li:hover {
    border-color: rgb(120, 71, 255);
}

.decodificador {
    width: 700px;
    margin-left: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
}

.decodificador:hover {
    border-color: rgb(120, 71, 255);
}

.link-decodificador {
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold; /*deixa em negrito*/
    color: #000000;
}

.link-decodificador:hover {
    color: blue;
    text-decoration: underline;
    text-transform:  uppercase; /*Muda pata letra maiuscula*/
}

.poisicao-img {
    width: 650px;
    margin: 40px auto;
    padding: 10px 0; 
    vertical-align: top;
    
}

.img-forca {
    align-items: center;
    justify-content: center;
    
}

.forca {
    width: 500px;
    height: 350px;
    margin: 0 2%;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
}

.forca:hover {
    border-color: rgb(120, 71, 255);
}

/* .forca2 {
    width: 500px;
    height: 350px;
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 20px;
    float: right;
}

.forca2:hover {
    border-color: rgb(120, 71, 255);
} */

.link-forca {
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    font-weight: bold; /*deixa em negrito*/
    color: #000000;
}

.link-forca:hover {
    color: blue;
    text-decoration: underline;
    text-transform:  uppercase; /*Muda pata letra maiuscula*/
}
    

footer {
    text-align: center;
    padding: 40px 0;
    background: rgb(96, 104, 89);
}

.copyright {
    color: #000000;
    font-size: 20px;
    margin: 20px 0 0; 
    font-weight: bold;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}


form lable, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: inline-block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.atendimento {
    margin-top: 10px;
}


.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 30%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;

}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /*aumenta todas as fontes*/
    /*rotate(2deg) se quiser dar um efeito de rodar só colocar junto no transform*/
}
