body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background: rgb(171, 175, 209);
}

.fundo {
    background: #e4ebf0;
    padding: 20px 0;
    
}

.titulo-principal {
    padding-left: 15px; 
    font-size: 30px;

}

.sub-título {
    padding-left: 15px;
    font-size: 15px;
}

#foto_01 { 
    border-radius: 50px;
    position: absolute;
    width: 200px;
    margin: 0 auto;
    top: 50px; /*coloca no topo*/
    right: 50px; /*rediriciona para direita*/
}


nav li {
    display: inline; /* coloca os intens um ao lado do outro*/
    margin: 0 0 0 25px; /*para dar espaços entre os itens*/
}

nav a {
    text-transform:  uppercase; /*Muda pata letra maiuscula*/
    color: #000000;
    font-weight: bold; /*deixa em negrito*/
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color: blue;
    text-decoration: underline;
}

.h3 {
    font-size: 25px;
    text-align: center;
    
}

.sobre-mim {
    font-size: 15px;

}

.imagens{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;   
}

.imagens li{
    display: inline-block; /*um ao lado do outro*/
    text-align: center;
    width: 33%;
    vertical-align: top;
}


#html {
    width: 55px;
}

#html:hover {
    width: 70px;
}

#css {
    width: 55px;
}

#css:hover {
    width: 70px;
}

#js {
    width: 135px;
}

#js:hover {
    width: 180px;
}
 
/* #java {
    width: 55px;
} */

#skills {
    width: 1060px;
    height: 230px;
    margin: 0 auto;
    padding: 15px 0;
    
}


#hobbies {
    width: 940px;
    margin: 0 auto;
    padding: 15px 0; 
}

.h4 {
    font-size: 16px;
}

.hobbies li {
    display: inline-block; /*um ao lado do outro*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #000000;
    border-radius: 10px;
}

.hobbies li:hover {
    border-color: rgb(120, 71, 255);
}

.hobbies li:hover h4 {
    font-size: 20px;
}

.controle {
    width: 114px;
}


.tv {
    width: 100px;
}

.viagem {
    width: 100px;
}

footer {
    text-align: center;
    padding: 40px 0;
}

.copyright {
    color: #000000;
    font-size: 20px;
    margin: 20px 0 0; 
    font-weight: bold;
}



